:root{
    --poppins: "Poppins";
    --lora: "Lora";
    --kanit: "Kanit";
    --preto: rgb(12, 12, 10);
    --cinza: rgb(129, 131, 134);
    --laranja: #A35709;
}

.body{
    font-family: var(--poppins);
    background-image: url("assets/BGcerveja.png");
    background-size: auto;
}

.cabecalho{
    background-color: #ebe6cb;
}

.cabecalho__tiulo{
    color: #d08a17;
    font-family: 'Kanit';
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.lista__item{
    font-weight: 600;
    font-size: 22px;
    font-family: 'Lora';
    background-color: #ebe6cb;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
}

.lista__preco{
    color: #1f1c15;
    font-size: 16px;
}