@import url("styles/X-Bacon.css");

:root{
    --poppins: "Poppins";
    --lora: "Lora";
    --kanit: "Kanit";
    --preto: rgb(12, 12, 10);
    --cinza: rgb(129, 131, 134);
    --laranja: #A35709;
}

.body{
    background-image: url("assets/Fundo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: var(--poppins);
}

.hr{
    padding: 0;
    margin: 1em 1em;
    border-color: var(--laranja);
}