.cardapio__item{
    margin: 1.2em;
    padding: 1em;
    border: solid 3px;
    border-color: var(--laranja);
    border-radius: 8px;
}

.cardapio__titulo, .cardapio__descricao, .cardapio__preco{
    padding: 0.2em;
}

.cardapio__titulo{
    color: var(--laranja);
    text-transform: uppercase;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 28px;
}

.cardapio__descricao{
    color: var(--cor-descricao);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.cardapio__preco{
    color: var(--cor-descricao);
    font-size: 1.2em;
}

.cardapio__comida__titulo{
    color: white;
    text-transform: uppercase;
    font-family: 'Kanit';
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 500;
    padding-top: 0.3em;
}

.cardapio__opcao{
    color: var(--cor-descricao);
    font-size: 15px;
    padding: 0.5em;
}

.bebida{
    font-size: 18px;
}