.rodape{
    display: grid;
    background-color: var(--cor-header);
    color: var(--cor-descricao);
}

.rodape2{
    background-color: #262627;
    color: gray;
}

.rodape__texto{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
}

.rodape__image{
    width: 2em;
    padding: 1em 1.5em 1em 1.5em;
}

.rodape__paragrafo{
    padding: 1em;
}

.rodape__paragrafo__lista{
    list-style: none;
}

.rodape__paragrafo__destaque{
    color: var(--laranja);
}

.rodape__logo__container{
    display: flex;
    justify-content: center;
}

.rodape__logo{
    width: 12em;
}

.lista__rodape__links{
    display: flex;
    justify-content: center;
    align-items: center;
}