.cabecalho__titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--laranja);
    padding: 1em;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Lora';
    text-transform: uppercase;
}

.cabecalho__image{
    width: 35vh;
    border: 4px solid;
    border-color: var(--laranja);
}

.cabecalho__container{
    display: flex;
    justify-content: center;
}

.descricao__titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
}

.descricao__lista__item{
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 400;
}

.descricao__paragrafo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
    color: var(--laranja);
    font-size: 1.5em;
}

.rodape__logo{
    width: 12em;
}

.rodape__logo__container{
    display: flex;
    justify-content: center;
    margin: 3em;
}